/* STEP 1: Declare variables */


/* STEP 2: Apply variables */
body {
	
}

h1 {
    
}

header p {
    text-transform: uppercase;
    font-weight: bold;
}

/* STEP 3: CSS Calculations */
main {
    
}
